* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #000000;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  margin: 0px;
  padding: 0px;
}
header nav {
  position: relative;
  height: auto;
  width: 100%;
  text-align: left;
  margin: 0px;
  padding: 0px;
  /* Nav home */
}
header nav ul {
  display: inline-block;
  list-style-type: none;
  width: 100%;
  height: auto;
  background: #000000;
  margin: 0px;
  padding: 0px;
}
header nav ul > li {
  display: inline-block;
  list-style-type: none;
  width: auto;
  height: auto;
  padding: .5% 1%;
  cursor: pointer;
}
header nav ul > li > p {
  font-family: inherit;
  font-size: 116.67%;
  color: #cccccc;
  text-transform: uppercase;
  font-weight: bold;
}
header nav ul > li > p > a {
  text-decoration: none;
  color: inherit;
}
header nav ul > li:hover {
  background: #cccccc;
  transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
}
header nav ul > li:hover > p {
  color: #000000;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    min-width: 320px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}
main {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 1% auto;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  /* Nav home */
  /* Slide home */
}
@media (max-width: 500px) {
  main {
    max-width: 500px;
    min-width: 320px;
    width: 100%;
  }
}
main ul {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 2% auto;
  padding: 0px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 500px) {
  main ul {
    margin: 1% auto;
  }
}
main ul li {
  display: inline-block;
  width: 20%;
  margin: 0px 2%;
  height: 40px;
  padding: 0px;
  cursor: pointer;
  background: #eeeeee;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
}
@media (max-width: 500px) {
  main ul li {
    width: 29%;
    margin: 0px 1%;
  }
}
main ul li > p {
  color: #868686;
  margin: 12px 0px 0px 0px;
  font-family: inherit;
  font-size: 116.67%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
main ul li:hover {
  background: rgba(204, 204, 204, 0.8);
  transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
}
main ul li:hover > p {
  color: #ffffff;
}
main ul li:active {
  background: rgba(204, 204, 204, 0.8);
  transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
}
main ul li:active > p {
  color: #ffffff;
}
main ul li.active {
  background: #858585;
}
main ul li.active > p {
  color: #fff;
}
main .slide.ng-hide-add,
main .slide.ng-hide-remove {
  display: block !important;
  transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}
main .slide.ng-hide-add.ng-hide-add-active,
main .slide.ng-hide-remove {
  opacity: 0;
}
main .slide.ng-hide-add,
main .slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
main .slide {
  margin-bottom: 2%;
}
main .slide-counter {
  display: inline-block;
  margin: 0 0 0 2%;
}
main .slide-counter .pag {
  position: relative;
  width: 10%;
  height: 20px;
  display: inline-block;
  margin: 2% auto;
}
main .slide-counter .pag .circle {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #cccccc;
}
main .slide-counter .pag .circle.active {
  background: #333;
}
main .box {
  width: 100%;
  height: auto;
  background: #eeeeee;
  overflow: hidden;
  margin: 0 auto 8% auto;
  padding: 0px;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.4);
}
main .box > h1 {
  text-transform: capitalize;
}
main .box > h1.single {
  font-size: 200%;
  letter-spacing: 1px;
  text-transform: capitalize;
}
main .box > img {
  width: 100%;
  height: auto;
}
main .box > figure {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
main .box > figure > img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
}
main .box > p {
  font-family: inherit;
  font-size: 108.33%;
  word-wrap: break-word;
  margin: 19px auto;
  padding: 0px 19px;
  color: #8a8a8a;
  letter-spacing: 1px;
}
main .box > p.single {
  font-size: 125%;
  padding: 1% 8%;
  line-height: 23px;
}
main .box > .btn {
  margin: 0 auto 19px auto;
  background: #cdcdcd;
  width: 110px;
  height: auto;
  color: #ffffff;
  padding: 13px 0px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
main .box > .btn:hover {
  background: #878787;
  color: #ffffff;
  transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
}
main .box > .btn > a {
  text-decoration: none;
  color: inherit;
}
main .table .table-content {
  display: table;
  width: 100%;
}
main .table .row {
  display: table-row;
}
main .table .row:first-child {
  background: #cccccc !important;
}
main .table .row:first-child .cell {
  color: #ffffff;
  text-transform: uppercase;
}
main .table .row:nth-child(even) {
  background: #ffffff;
}
main .table .row:nth-child(odd) {
  background: #eeeeee;
}
main .table .cell {
  display: table-cell;
  padding: 1% 0px;
  color: #858585;
  font-weight: bold;
  text-transform: lowercase;
  border: 1px solid #858585;
}
@media (max-width: 500px) {
  main .table .cell {
    padding: 4%;
  }
}
main .table .header {
  display: table-header-group;
}
main .table .footer {
  background: #858585;
  display: table-footer-group;
  font-weight: bold;
}
main .table .body {
  display: table-row-group;
}
@media (max-width: 500px) {
  main div > .row {
    width: auto;
    margin: 0px;
    padding: 0px;
  }
  main div > .row [class*=".col-"] {
    margin: 0px;
    padding: 0px;
  }
}
main div > .row > section {
  padding: 0px 6%;
  margin: 2% 0px;
}
@media (max-width: 500px) {
  main div > .row > section {
    padding: 0 1%;
    margin: 2% 0;
    width: 94%;
  }
}
main div > .row:first-child > section {
  padding: 0px !important;
  margin: 4% auto 2% auto;
}
main article > p {
  font-size: 108.33%;
  color: #8a8a8a;
  text-align: justify;
}
@media (max-width: 500px) {
  main article > p {
    font-size: 125% !important;
  }
}
main .select {
  width: 260px;
  height: 45px;
  background: #ffffff url('../../../dist/img/icon-arrow-down.png') center right no-repeat;
  background-size: 15% 100%;
  background-position: 98%;
  margin: 1% auto;
}
@media (max-width: 500px) {
  main .select {
    width: 235px;
  }
}
main .select select::-ms-expand {
  display: none;
}
main .select select {
  width: 100%;
  height: 45px;
  background: transparent;
  color: #868686;
  padding-left: 8%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cccccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
main .select select option {
  color: #868686;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cccccc;
}
main .select select option:nth-child(even) {
  background: rgba(204, 204, 255, 0.3);
}
main .select select option:nth-child(odd) {
  background: #ffffff;
}
main .select select:focus {
  outline: none;
}
